  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>HiComm's Mission:</h1>
        <p>Our mission is to create an open, active, and collaborative network of communities, university groups, and service organizations in order to foster empowered and sustainable community partnerships that overcome development challenges.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

	<div class="container">
	<h1>HiComm's Approach: </h1>
	<p>HiComm empowers both communities and service organizations to communicate and exchange information through an accessible, low-cost, and networkable platform. We do this by combining a powerful web application with an SMS interface and subsidizing the cost of SMS messages sent from the field. By overcoming the burdens and expenditures associated with community development logistics, HiComm can assist organizations and communities overcome logistical barriers and focus on the task at hand. We believe that an open, active, and collaborative network of communities, non-profits, and universities, primary stakeholders involved in community development projects, fosters, empowers, and sustains community partnerships.</p>
	</div>
	
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Accessible</h2>
          <p>Even in rural areas, people are able to receive and send text messages. According to infoDev, over 90% of the world has access to a mobile cell signal, and over 75% of the world now has a mobile cell phone.</p>
          <!--
		  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		  -->
        </div>
        <div class="col-md-4">
          <h2>Economical</h2>
          <p>Text messages (SMS) cost significantly less than calling and data packages. By combining the accessibility of SMS with the versatility of the web, we reduce the cost of routine communications.</p>
          <!--
		  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		  -->
       </div>
        <div class="col-md-4">
          <h2>Networkable</h2>
          <p>Our stakeholders are interested in growing their partnerships. As service organizations, university groups, and communities join the HiComm network, we enable new partnership discovery via social sharing.</p>
          <!--
		  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		  -->
        </div>
      </div>

      <hr>

